extends layout

block content
  .about-container
    h1 About Research Repository System
    .about-description
      p
        | The Research Repository System is a web-based platform designed to facilitate access, search, and retrieval of academic research papers. 
        | It provides students with a centralized repository where they can find valuable resources for their academic pursuits.
      p
        | <strong>Key Features:</strong>
      ul
        li User-friendly interface for easy navigation and access to research materials.
        li Advanced search capabilities based on keywords, authors, publication dates, and academic disciplines.
        li User registration and profile management functionalities.
        li Secure upload and submission of research papers by authorized users.
        li Administrator functions for managing user accounts and system content.
      p
        | The Research Repository System aims to enhance the educational experience by offering a convenient and efficient way for students to discover and utilize relevant research material.
