extends layout

block content
  h1 Welcome to Research Repository System
  ul
    each paper in researchPapers
      li= `${paper.title} by ${paper.author} - ${paper.link}`

  .container
  .row.align-items-start
    .col
      | One of three columns
    .col
      | One of three columns
    .col
      | One of three columns
  .row.align-items-center
    .col
      | One of three columns
    .col
      | One of three columns
    .col
      | One of three columns
  .row.align-items-end
    .col
      | One of three columns
    .col
      | One of three columns
    .col
      | One of three columns
