extends layout

block content
  .news-container
    h1 Research Repository System News
    .news-item
      h2 Release of Version 2.0
      p
        | We are excited to announce the release of Research Repository System Version 2.0! This update includes several new features, enhancements, and bug fixes. Users can now enjoy an even better experience in accessing and managing research materials.
      p
        | Check out the <a href="#">release notes</a> for more details.

    .news-item
      h2 New Administrator Functions Added</h2>
      p
        | In response to user feedback, we have introduced new administrator functions to enhance system management. Administrators now have additional tools for user account management and content control.

    .news-item
      h2 Improved Search Functionality</h2>
      p
        | Our latest update brings improvements to the search functionality. Users can now perform more precise searches, making it easier to find relevant research papers.

    .news-item
      h2 Upcoming Webinar: Tips for Effective Research Paper Management</h2>
      p
        | Join us for an upcoming webinar where experts will share tips and best practices for effective research paper management using the Research Repository System. Stay tuned for the schedule!

    .news-item
      h2 Call for Feedback</h2>
      p
        | We value your feedback! Share your thoughts and suggestions about the Research Repository System. Your input helps us continually improve and meet the needs of our user community.
