/* public/styles/main.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  input,
  button {
    margin-bottom: 10px;
    padding: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  h2.upl {
    text-align: center;
  }
  
  /* public/styles/main.css */

nav {
  background-color: #007bff;
  padding: 10px;
  text-align: center;
}

ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.nav-item {
  display: inline-block;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #0e0d0d;
  font-weight: bold;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* login and register.css */

form {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 ,p {
  text-align: center;
}
label, input, button ,p {
  display: block;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
